.container {
  margin: auto;
  max-width: 71%;
  font-family: "Noto Sans KR", sans-serif;
}

.navLinks {
  display: flex;
  list-style: none;
  padding-left: 0;
}

.navLinkItem {
  padding-right: 2rem;
}

.navLinkText {
  color: black;
}

.siteTitle {
  color: #035e12;
  font-size: 2rem;
  font-weight: 700;
  margin: 3rem 0;
}

.postTitle {
  color: #47b7f8;
  font-size: 2em;
  font-weight: 700;
  margin: 1em 0;
}
