name: ci

on: [push, pull_request]

permissions:
  contents: read

jobs:
  lint:
    name: Check for build and type issues
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Install pnpm
        uses: pnpm/action-setup@v4
        with:
          node-version: 22

      - name: Setup node
        uses: actions/setup-node@v6
        with:
          node-version: 22
          cache: "pnpm"

      - name: Install dependencies
        run: pnpm install

      - name: Use environment variables
        run: |
          echo "VITE_GITHUB_REPOSITORY_OWNER=$GITHUB_REPOSITORY_OWNER" >> .env
          echo "VITE_GITHUB_REPOSITORY=$GITHUB_REPOSITORY" >> .env
          echo "WEBMENTION_API_KEY=$WEBMENTION_API_KEY" >> .env
        env:
          GITHUB_REPOSITORY: ${{github.repository}}
          GITHUB_REPOSITORY_OWNER: ${{github.repository_owner}}
          WEBMENTION_API_KEY: ${{secrets.WEBMENTION_API_KEY}}

        # use astro check for issues
      - name: Run Astro check
        run: pnpm astro check

        # ensure build works
      - name: Run Astro build
        run: pnpm build
